<div class="my-3">
    <p-button (click)="openCreateDialog()"
              type="button" iconPos="right" icon="pi pi-plus" label="New Category"/>
</div>

<p-table
    [value]="categories"
    dataKey="id"
    [rows]="10"
    sortField="createdAt"
    [sortOrder]="-1"
    [rowHover]="true"
    [showGridlines]="true"
    [paginator]="true"
    [globalFilterFields]="['name', 'description']"
    responsiveLayout="scroll"
>
    <ng-template #header>
        <tr>
            <th style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Name
                    <p-columnFilter type="text" field="name" display="menu"
                                    placeholder="Search by name"></p-columnFilter>
                </div>
            </th>
            <th style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Created At
                    <p-columnFilter type="date" field="createdAt" display="menu"
                                    placeholder="Search by date"></p-columnFilter>
                </div>
            </th>
            <th style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Last Changes
                    <p-columnFilter type="date" field="updatedAt" display="menu"
                                    placeholder="Search by date"></p-columnFilter>
                </div>
            </th>
            <th style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Status
                    <p-columnFilter type="bool" field="isDeleted" display="menu"
                                    placeholder="Search by status"></p-columnFilter>
                </div>
            </th>
            <th style="width:11rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-category>
        <tr>
            <td>
                {{ category.name }}
            </td>
            <td>
                {{ category.createdAt | date : 'dd.MM.yyyy. HH:mm:ss'}}
            </td>
            <td>
                {{ category.updatedAt | date : 'dd.MM.yyyy. HH:mm:ss' }}
            </td>
            <td>
                {{ category.status }}
            </td>
            <td>
                <p-button (click)="openInfoDialog(category)" class="mr-2" icon="pi pi-info" severity="secondary"
                          [rounded]="true" [outlined]="true"/>
                <p-button (click)="openUpdateDialog(category)" class="mr-2" icon="pi pi-pencil" severity="secondary"
                          [rounded]="true" [outlined]="true"/>
                <p-button (click)="confirmDelete(category)" icon="pi pi-trash" severity="danger" [rounded]="true"
                          [outlined]="true"/>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="8">No categories found.</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="8">Loading categories data. Please wait...</td>
        </tr>
    </ng-template>
</p-table>
