<div class="my-3">
    <p-button (click)="openCreateDialog()"
              type="button" iconPos="right" icon="pi pi-plus" label="New User"/>
</div>

<p-table
    #usersTable
    [value]="users"
    dataKey="id"
    sortField="updatedAt"
    [sortOrder]="-1"
    [rows]="10"
    [rowHover]="true"
    [showGridlines]="true"
    [paginator]="true"
    [globalFilterFields]="['username', 'email']"
    responsiveLayout="scroll"
>
    <ng-template>
        <div class="flex justify-between items-center flex-column sm:flex-row">
            <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                    (click)="clear(usersTable)"></button>
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" (input)="onGlobalFilter(usersTable, $event)" placeholder="Search keyword"/>
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th pSortableColumn="username" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Username
                    <p-sortIcon field="username"/>
                    <p-columnFilter type="text" field="username" display="menu"
                                    placeholder="Search by username"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="createdAt" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Created At
                    <p-sortIcon field="createdAt"/>
                </div>
            </th>
            <th pSortableColumn="updatedAt" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Last Changes
                    <p-sortIcon field="updatedAt"/>
                </div>
            </th>
            <th pSortableColumn="status" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Status
                    <p-sortIcon field="status"/>
                </div>
            </th>
            <th style="width: 11rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-user>
        <tr>
            <td>
                {{ user.username }}
            </td>
            <td>
                {{ user.createdAt | date : 'dd.MM.yyyy. HH:mm:ss'}}
            </td>
            <td>
                {{ user.updatedAt | date : 'dd.MM.yyyy. HH:mm:ss' }}
            </td>
            <td>
                {{ user.status }}
            </td>
            <td>
                <p-button (click)="openInfoDialog(user)" class="mr-2" icon="pi pi-info" severity="secondary"
                          [rounded]="true" [outlined]="true"/>
                <p-button (click)="openUpdateDialog(user)" class="mr-2" icon="pi pi-pencil" severity="secondary"
                          [rounded]="true" [outlined]="true"/>
                <p-button (click)="confirmDelete(user)" icon="pi pi-trash" severity="danger" [rounded]="true"
                          [outlined]="true"/>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="8">No users found.</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="8">Loading users data. Please wait...</td>
        </tr>
    </ng-template>
</p-table>
