<form [formGroup]="form" (submit)="submit()">
    <div class="formgrid grid">
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="title">Recipe Title</label>
            <input
                class="w-full {{validationService.getInputClass(form, 'title', 'required')}}"
                type="text" id="title" pInputText formControlName="title"/>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'title', 'required')"
                   id="title-input">This field is required.</small>
        </div>
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="content">Recipe Content</label>
            <p-editor class="w-full {{validationService.getInputClass(form, 'content', 'required')}}"
                      id="content" formControlName="content" />
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'content', 'required')"
                   id="content-input">This field is required.</small>
        </div>
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="categories">Categories</label>
            <p-multiselect [filter]="true" appendTo="body" styleClass="w-full" [options]="categories"
                           formControlName="categories" optionLabel="name" optionValue="id"
                           id="categories"/>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'categories', 'required')"
                   id="categories-input">This field is required.</small>
        </div>
    </div>

    <div class="my-3">
        <p-button type="submit" iconPos="right" icon="pi pi-save" label="Save"/>
    </div>
</form>
