<app-category-form
    *ngIf="contentType === entityType.Category"
    [type]="formType"
    [category]="data">
</app-category-form>

<app-recipe-form
    *ngIf="contentType === entityType.Recipe"
    [type]="formType"
    [recipe]="data">
</app-recipe-form>

<app-administrator-form
    *ngIf="contentType === entityType.Administrator"
    [type]="formType"
    [administrator]="data">
</app-administrator-form>

<app-user-form
    *ngIf="contentType === entityType.User"
    [type]="formType"
    [user]="data">
</app-user-form>
