<div class="my-3">
    <p-button (click)="openCreateDialog()"
              type="button" iconPos="right" icon="pi pi-plus" label="New Recipe"/>
</div>

<p-table
    #recipesTable
    [value]="recipes"
    dataKey="id"
    sortField="updatedAt"
    [sortOrder]="-1"
    [rows]="10"
    [rowHover]="true"
    [showGridlines]="true"
    [paginator]="true"
    [scrollable]="true"
    [globalFilterFields]="['title', 'content']"
    responsiveLayout="scroll"
>
    <ng-template>
        <div class="flex justify-between items-center flex-column sm:flex-row">
            <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                    (click)="clear(recipesTable)"></button>
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" (input)="onGlobalFilter(recipesTable, $event)"
                       placeholder="Search keyword"/>
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th pSortableColumn="title" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Title
                    <p-sortIcon field="title"/>
                    <p-columnFilter type="text" field="title" display="menu" class="ml-auto"/>
                </div>
            </th>
            <th pSortableColumn="createdAt" style="min-width: 12rem">
                Created At
                <p-sortIcon field="createdAt"/>
            </th>
            <th pSortableColumn="updatedAt" style="min-width: 12rem">
                Last Changes
                <p-sortIcon field="updatedAt"/>
            </th>
            <th pSortableColumn="status" style="min-width: 12rem">
                Status
                <p-sortIcon field="status"/>
            </th>
            <th style="width:11rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-recipe>
        <tr>
            <td>
                {{ recipe.title }}
            </td>
            <td>
                {{ recipe.createdAt | date : 'dd.MM.yyyy. HH:mm:ss'}}
            </td>
            <td>
                {{ recipe.updatedAt | date : 'dd.MM.yyyy. HH:mm:ss' }}
            </td>
            <td>
                {{ recipe.status }}
            </td>
            <td>
                <p-button (click)="openInfoDialog(recipe)" class="mr-2" icon="pi pi-info" severity="secondary"
                          [rounded]="true" [outlined]="true"/>
                <p-button (click)="openUpdateDialog(recipe)" class="mr-2" icon="pi pi-pencil" severity="secondary"
                          [rounded]="true" [outlined]="true"/>
                <p-button (click)="confirmDelete(recipe)" icon="pi pi-trash" severity="danger" [rounded]="true"
                          [outlined]="true"/>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="8">No recipes found.</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="8">Loading recipes data. Please wait...</td>
        </tr>
    </ng-template>
</p-table>
