<div class="my-3">
    <p-button (click)="openCreateDialog()"
              type="button" iconPos="right" icon="pi pi-plus" label="New Administrator"/>
</div>

<p-table
    #administratorsTable
    [value]="administrators"
    dataKey="id"
    sortField="updatedAt"
    [sortOrder]="-1"
    [rows]="10"
    [rowHover]="true"
    [showGridlines]="true"
    [paginator]="true"
    [globalFilterFields]="['firstName', 'lastName']"
    responsiveLayout="scroll"
    showCurrentPageReport="true"
    currentPageReportTemplate="There are {totalRecords} entries"
>
    <ng-template>
        <div class="flex justify-between items-center flex-column sm:flex-row">
            <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                    (click)="clear(administratorsTable)"></button>
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" (input)="onGlobalFilter(administratorsTable, $event)"
                       />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th pSortableColumn="fullName" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Name
                    <p-sortIcon field="fullName"/>
                    <p-columnFilter type="text" field="fullName" display="menu" class="ml-auto"/>
                </div>
            </th>
            <th pSortableColumn="createdAt" style="min-width: 12rem">
                Created At
                <p-sortIcon field="createdAt"/>
            </th>
            <th pSortableColumn="updatedAt" style="min-width: 12rem">
                Last Changes
                <p-sortIcon field="updatedAt"/>
            </th>
            <th pSortableColumn="status" style="min-width: 12rem">
                Status
                <p-sortIcon field="status"/>
            </th>
            <th style="width: 11rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-administrator>
        <tr>
            <td>
                {{ administrator.fullName }}
            </td>
            <td>
                {{ administrator.createdAt | date : 'dd.MM.yyyy. HH:mm:ss'}}
            </td>
            <td>
                {{ administrator.updatedAt | date : 'dd.MM.yyyy. HH:mm:ss' }}
            </td>
            <td>
                {{ administrator.status }}
            </td>
            <td>
                <p-button (click)="openInfoDialog(administrator)" class="mr-2" icon="pi pi-info" severity="secondary"
                          [outlined]="true"/>
                <p-button (click)="openUpdateDialog(administrator)" class="mr-2" icon="pi pi-pencil"
                          severity="secondary"
                          [outlined]="true"/>
                <p-button (click)="confirmDelete(administrator)" icon="pi pi-trash" severity="danger"
                          [outlined]="true"/>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="8">No administrators found.</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="8">Loading administrators data. Please wait...</td>
        </tr>
    </ng-template>
</p-table>
